.github/**
.vscode/**
.vscode-test/**
.devcontainer/**
out/test/**
out/**/*.map
src/**
.gitignore
.gitpod.yml
tsconfig.json
vsc-extension-quickstart.md
.vscode-test.mjs
.test-workspace/**
coverconfig.json
coverage/**
test/**
typings/**
